.cards {
  padding: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  color: white;
}

.card {
  cursor: pointer;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #ffffff;

  color: black;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  &:hover {
    border: 2px solid #c0c0c0;
  }
}

.dark-theme__card {
  background-color: #1e2028;
  color: white;
  border: 2px solid #1e2028;

  &:hover {
    border: 2px solid #3a3d45;
  }
}

.card__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.card__description {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.card__button {
  background-color: #3a3d45;
  color: white;
  font-size: 12px;
  border: none;
  padding: 5px;
  border-radius: 4px;
}
.card__button.bg__green {
  background-color: #28a746e0;
}
.card__button.bg__blue {
  background-color: #286aa7de;
}
.card__button.bg__yellow {
  background-color: #e7c710;
  color: #ffffff;
}
.card__button.bg__red {
  background-color: #fa6031ec;
}

