.cards{
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    color: white;
}

.card{
    cursor: pointer;
    width: 100%;
    background-color: #1E2028;
    border: 2px solid #1E2028;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.card:hover{
    border: 2px solid #3A3D45;
}
.card__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.card__description{
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 24px;
   	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
}
.card__button{
    background-color: #3A3D45;
    color: white;
    font-size: 12px;
    border: none;
    padding: 5px;
    border-radius: 4px;
}
.card__button.bg__green{
    background-color: #28a74688;
}
.card__button.bg__blue{
    background-color: #286aa794;
}
.card__button.bg__yellow{
    background-color: #eeeb4f2a;
    color: #ffd901;
}
.card__button.bg__red{
    background-color: #fa603194;
}